.App {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MainContent {
    position: absolute;
    left: 0;
    height: calc(100% - 5.6rem);
    overflow-y: auto;
    top: 2.6rem;
    width: 100%;
    background-color: white;
}

.ContentTransit {
    transition: transform .4s;
}

.hidden {
    z-index: 0;
}

.show {
    z-index: 3;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
